/* .App {
  display: flex;
  align-items: flex-start;
  justify-content: center;
} */
.App {
  text-align: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 24px;
  box-sizing: border-box;
  width: 100%;
}

.Posts {
  width: 100%;
  box-sizing: border-box;
}

.Card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 4px 30px #00000025;
  width:550px;
  height:150px;
  border-radius:30px;
  padding: 20px;
}

.Pad {
  padding-bottom: 15px;
}

.Pic {
  height: 150px;
  border-radius:10px;
  display: flex;
  justify-content: flex-start;
}

.List {
  line-height: 0px;
  font-size: 12px;
  padding-left: 20px;
}

.Title {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.Place {
  display: flex;
  align-items: center;
}

.Date {
  display: flex;
  align-items: center;
}

.Camera {
  display: flex;
  align-items: center;
}

.Comment {
  display: flex;
  align-items: center;
}

.Map {
  width: 150%;
  display: flex;
  justify-content: center;
  margin-left: 24px;
}
